:root {
    /* Background */
    --tabBgCol: #1C1B22;
    --pgBgCol: #2B2A33;

    /* Window Properties */
    --windowCol: #1e1e1e80;
    --windowBlur: 1vh;
    --windowBrightness: 1;
    --windowContrast: 1.1;
    --frontElementCol: #28282833;

    /* Text Properties */
    --textCol: #fff;
    --textColSec: #fff9;
    --textColTet: #fff5;
    --linkCol: #6b23b3;
    --textSize: 1rem;
    --textSizeSec: 0.7rem;
    --textSizeTet: 0.5rem;

    /* Shadow Properties */
    --shadowCol: rgba(0, 0, 0, 0.75);
    --shadowRad: 0px 0px 4px 1px;

    /* Margins */
    --uniMargin: 1rem;
    --topBarThickness: 5rem;
    --tabThickness: 7.5rem;

    /* Border */
    --borderRad: 0.75rem;
    --borderThickness: 0.2rem;
    --borderCol: #9c9c9c5b;

    /* Transitions */
    --transitionSpeed: 0.4s;
    --fastTransitionSpeed: 0.1s;

    /* Menu */
    --menuButtonCol: var(--textCol);

    /* Tab Properties */
    --tabCol: #25252ad1;
    --tabBlur: 1vh;
    --tabBrightness: 1;
    --tabContrast: 1.1;

    --activeTabCol: #25252ad1;
    --activeTabBlur: calc(var(--tabBlue) / 8);
    --activeTabBrightness: var(--tabBrightness);
    --activeTabContrast: var(--tabContrast);

    --doParticles: 1;
}