:root {
  /* Background */
  --tabBgCol: #1C1B22;
  --pgBgCol: #2B2A33;
  /* Window Properties */
  --windowCol: #1e1e1e80;
  --windowBlur: 1vh;
  --windowBrightness: 1;
  --windowContrast: 1.1;
  --frontElementCol: #28282833;
  /* Text Properties */
  --textCol: #fff;
  --textColSec: #fff9;
  --textColTet: #fff5;
  --linkCol: #6b23b3;
  --textSize: 1rem;
  --textSizeSec: 0.7rem;
  --textSizeTet: 0.5rem;
  /* Shadow Properties */
  --shadowCol: rgba(0, 0, 0, 0.75);
  --shadowRad: 0px 0px 4px 1px;
  /* Margins */
  --uniMargin: 0.5rem;
  --tabThickness: 2.7rem;
  --topControlsThickness: 2.7em;
  --iconThickness: 3em;
  /* Border */
  --borderRad: 0.75rem;
  --borderThickness: 0.2rem;
  --borderCol: #9c9c9c5b;
  /* Transitions */
  --transitionSpeed: 0.4s;
  --fastTransitionSpeed: 0.1s;
  /* Menu */
  --menuButtonCol: var(--textCol);
  /* Tab Properties */
  --tabCol: #25252ad1;
  --tabBlur: 1vh;
  --tabBrightness: 1;
  --tabContrast: 1.1;
  --activeTabCol: #25252ad1;
  --activeTabBlur: calc(var(--tabBlue) / 8);
  --activeTabBrightness: var(--tabBrightness);
  --activeTabContrast: var(--tabContrast);
  --doParticles: 1;
}

#reloadButton {
  position: absolute;
  left: calc(var(--waybarHeight) / 3 - var(--uniMargin));
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: transparent;
  font-family: "Open Sans";
  font-size: calc(var(--waybarHeight) / 4);
  color: var(--menuButtonCol);
  transition: all var(--transitionSpeed) ease;
}
#reloadButton:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.2);
}

#searchButton {
  position: absolute;
  left: calc(var(--urlInputLength) + var(--waybarHeight) - 1em - var(--waybarHeight) / 3);
  transform: translateY(-3%) translateX(-50%);
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: transparent;
  font-family: "Open Sans";
  font-size: calc(var(--waybarHeight) / 4);
  color: #7C7777;
  font-weight: 100;
  transition: all var(--transitionSpeed) ease;
}
#searchButton:hover {
  cursor: pointer;
  transform: translateY(-3%) translateX(-50%) scale(1.2);
}

#settingsButton {
  position: absolute;
  right: calc(var(--uniMargin) * 2);
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: transparent;
  font-family: "Open Sans";
  font-size: calc(var(--waybarHeight) / 4);
  color: var(--menuButtonCol);
  transition: all var(--transitionSpeed) ease;
}
#settingsButton:hover {
  cursor: pointer;
  transform: translateY(-1%) rotate(360deg) scale(1.2);
}

.searchBar {
  position: absolute;
  left: calc(var(--iconThickness) * 3 + var(--uniMargin) * 4);
  top: calc(var(--tabThickness) + var(--uniMargin));
  height: var(--topControlsThickness);
  width: calc(100vw - (var(--iconThickness) * 5 + var(--uniMargin) * 6));
  z-index: 2;
  border-radius: 1.5625rem;
  border: 2px solid rgba(40, 40, 40, 0.2);
  background: rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(--tabBlur);
  color: var(--textCol);
}
.searchBar:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  color: var(--textCol);
  user-select: none;
  background: var(--tabBgCol);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.lowerBg {
  position: absolute;
  left: 0;
  width: 100vw;
  bottom: 0;
  height: calc(100vh - var(--tabThickness));
  background: var(--pgBgCol);
}

.seperationBar {
  position: absolute;
  left: 0;
  width: 100vw;
  margin: 0;
  outline: none;
  padding: none;
  border: 1.5px solid #fff;
  top: var(--tabThickness);
  background: var(--pgBgCol);
  filter: drop-shadow(0px 1px 8px #fff) drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.5));
  z-index: 4;
}

.mainWindow {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  bottom: var(--uniMargin, 1rem) !important;
  width: calc(100vw - var(--uniMargin, 1rem) * 2) !important;
  height: calc(100vh - var(--uniMargin) * 3 - var(--tabThickness) - var(--topControlsThickness)) !important;
  border-radius: 0.4375rem !important;
  background: #1c1b22 !important;
  border: none !important;
  outline: none !important;
}

.erudaMainWindowContainer {
  z-index: 9 !important;
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  bottom: var(--uniMargin, 1rem) !important;
  width: calc(100vw - var(--uniMargin, 1rem) * 2) !important;
  height: calc(100vh - var(--uniMargin) * 3 - var(--tabThickness) - var(--topControlsThickness)) !important;
  border-radius: 0.4375rem !important;
  background: transparent !important;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25) inset !important;
  border: none !important;
  outline: none !important;
}/*# sourceMappingURL=index.css.map */